button, .button {
    border:none;
    display:inline-block;
    background: none;
    border:1px solid #FFF;
    border-radius:3px;
    color:#FFF;
    font-family:"Oswald", Arial, Helvetica, sans-serif;
    padding:5px 10px;
    font-size:0.8em;
    transition:0.25s;
    cursor: pointer;
    &:hover {
        background: rgba(0,0,0,0.2);
        color:$highlightcolor;
        border-color:$highlightcolor;
    }
}
.button.primary {
    border-color:$highlightcolor;
}