// FONTS
// $heading-font: Libre Baskerville, 'Times New Roman', Times, serif;
$heading-font: 'Noto Serif SC', 'Times New Roman', Times, serif;


$subheading-font: Oswald, Arial, Helvetica, sans-serif;;

// COLOURS
$darkcolor:#28231D;
$highlightcolor: #E9CC8A;

// INHERITANCE
%column-flex {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background: url('/img/tank-bg.jpg') no-repeat #28231D; // background: #28231D;
    background-size: cover;
    background-attachment:fixed;
    color: #FFF;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $heading-font;
    font-weight:900;
    // letter-spacing:0.1em;
}

.large-button {
    @extend %column-flex;
    margin:30px auto 0 auto;
    $size: 175px;
    height:$size;
    width: $size;
    text-decoration:none;
    border:2px dashed $highlightcolor;
    font-size:0.75em;
    border-radius:50%;
    color:$highlightcolor;
    background: rgba(0,0,0,0.5);

}

header {

    $header-height:100px;
    width: 100%;
    // height:100px;
    // display:flex;
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.75) 50%,rgba(0,0,0,0) 100%);
    // background: #F00;
    margin:0;padding:0;
    position:fixed;left:0;top:0;
    z-index:100;

    .logo {
        font-family:Cinzel, $heading-font;
        font-weight:bold;
        font-size:1.5em;
        cursor: pointer;
        display:inline-block;
        transition:.75s;

        &:hover {
            transform:scale(1.1);
        }

        span {
            display:inline-block;
            padding:0.25em 0;
            margin:0 0.25em;
            // position: relative;top:-10px;
            // font-size:.8em;
            border-top:2px solid $highlightcolor;
            border-bottom:2px solid $highlightcolor;
        }
        .sub {
            font-size:0.5em;
            font-family:"Oswald";
            text-transform: uppercase;
            letter-spacing: 0.5em;
            color:darken(white,10);
            position: relative;top:-20px;
        }
    }
    
    nav {
        position:fixed;right:0;top:0;
        // padding:30px;

        ul {
            list-style: none;margin:0;padding:0;
        }
    }
}






.full-size-hero {
    font-size:2em;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display:flex;
    @extend %column-flex;

    h1 {
        margin:0;padding:0;
    }
    p {
        margin:0;padding:0;
    }

}
.row {
    width:100%;
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
//   grid-template-rows: 50vh 100px auto;
    background:linear-gradient(rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 25%);

    .element {
        // flex:1;
        // height: 50vh;
        
        // margin:30px 0 0 0;
        // background: rgba(0,0,0,1);
        // margin:30px;
        @extend %column-flex;
        position:relative;
        overflow: hidden;

        .content {
            @extend %column-flex;
            height: 50vh;
            background: linear-gradient(rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.0) 100%);
            width:100%;
            padding:2em 0 2em 1em;
            transition:0.5s;
            

            & * {
                transition:0.5s;
                text-shadow:0 0 20px #000;
            }

        }

        &:hover .img-placeholder img {
            transform:scale(1.1);
        }

        &:hover .content * {
            transform:translateY(10px);
            text-shadow:0 0 10px #000;
        }
        

        .img-placeholder {
            position:absolute;
            width:100%;
            z-index:-1;
            img {
                // max-width:1280px;
                width:150%;
                transition:1s;
            }
        }

        * {
            margin:0;padding:0;
        }

        h2 {font-family:Cinzel;text-transform: uppercase;}
        p {font-family:$subheading-font;color:$highlightcolor;text-transform: uppercase;}

    }

}