<div class="page-hero">
<img class="" src="img/{{img}}" alt="{{subtitle}}">
</div>
<div class="page-element">


    <div class="page-head">
        <h1>{{title}}</h1>
        <p>{{subtitle}}</p>
    </div>



    <div class="page-content">
        {{{firstPara}}}

        {{{#col1}}}

        <div class="row">

            <div class="col">
                {{{col1}}}
            </div>
            <div class="col">
                {{{col2}}}
            </div>

        </div>

        {{{/col1}}}

    </div>

</div>